<!--
    user
-->
{% extends "layouts/backLayout.html" %}
{% block navbar_content %}
    <ul class="right">
        <li>
            <a href="{{ url_for('profile.change_info') }}"><i class="material-icons left">edit</i>编辑</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
    {#    <img class="bg" src="..\..\static\images\background.jpg"/>#}
    <div class="container">
        <blockquote>个人中心</blockquote>
        <div class="row">
            <div class="col s6" style="padding: 0 .2rem">
                <div class="card-panel z-depth-1 center" style="height: 192px">
                    <div class="row">
                        <img src='{{ user.avatar or "../../static/images/avatar.jpg" }}' class="circle avatar"
                             style="height: 64px; width:64px;">
                    </div>
                    <span class="">头像</span>
                    <div class="row">

                    </div>
                </div>
            </div>
            <div class="col s6" style="padding: 0 .2rem">
                <div class="card-panel z-depth-1" style="padding-top: 0px; height: 192px">
                    <div class="row">
                        <div class="col s12">
                            <blockquote>
                                姓名
                            </blockquote>
                            <span class="">
                                    {% if user.permission.name == "student" %}
                                        {% if user.birthday %}
                                            {% set
                                            profile_dict={"性别":user.sex.value,
                                                  "生日":str(user.birthday),
                                                  "学号":user.ref_students.first().student.number,
                                                  "学院":user.ref_students.first().student.faculty,
                                                  "专业":user.ref_students.first().student.department,
                                                  "年级":user.ref_students.first().student.grade} %}
                                        {% else %}
                                            {% set
                                            profile_dict={"性别":user.sex.value,
                                                  "生日":'',
                                                  "学号":user.ref_students.first().student.number,
                                                  "学院":user.ref_students.first().student.faculty,
                                                  "专业":user.ref_students.first().student.department,
                                                  "年级":user.ref_students.first().student.grade} %}
                                        {% endif %}
                                        {% set info=user.ref_students.first().student.info %}
                                        {{ user.ref_students.first().student.name }}
                                    {% elif user.permission.name == "teacher" %}
                                        {% if user.birthday %}
                                            {% set
                                            profile_dict={"性别":user.sex.value,
                                                  "生日":str(user.birthday),
                                                  "工号":user.ref_teachers.first().teacher.number,
                                                  "隶属部门":user.ref_teachers.first().teacher.faculty,
                                                  "直属部门":user.ref_teachers.first().teacher.department} %}
                                        {% else %}
                                            {% set
                                            profile_dict={"性别":user.sex.value,
                                                  "生日":'',
                                                  "工号":user.ref_teachers.first().teacher.number,
                                                  "隶属部门":user.ref_teachers.first().teacher.faculty,
                                                  "直属部门":user.ref_teachers.first().teacher.department} %}
                                        {% endif %}
                                        {% set info=user.ref_teachers.first().teacher.info %}
                                        {{ user.ref_teachers.first().teacher.name }}
                                    {% endif %}
                                </span>
                        </div>
                        <div class="col s12">
                            <blockquote>
                                昵称
                            </blockquote>
                            <span class="">{{ user.nickname or "未设置" }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% for name, info in profile_dict.items() %}
                <div class="col s6 m4 l3" style="padding: 0 .2rem">
                    <div class="card-panel z-depth-1" style="padding-top: 0px; height: 100px">
                        <div class="row">
                            <div class="col s12">
                                <blockquote>
                                    {% if name %}
                                        {{ name }}
                                    {% else %}
                                        <font color="#808080">未设置</font>
                                    {% endif %}
                                </blockquote>
                                <span class="">{% if info %}{{ info }}{% else %}{{ "tan90°" }}{% endif %}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <form id="infoForm">
                <div class="row">
                    <div class="input-field col s12 m12 l12 ">
                        <textarea type="text" id="info" name="info" class="materialize-textarea"></textarea>
                        <label for="info">简介</label>
                    </div>
                </div>
                <div class="button col s6 m6 l6">
                    <button class="btn waves-effect waves-light #ef5350 orange" type="submit" id="btn">确定
                    </button>
                </div>
            </form>
        </div>
    </div>

    </div>
{% endblock %}
{% block script_content %}

    <style>
        img.bg {
            z-index: -1;
            position: absolute;
            top: 56px;
            left: 0px;
            bottom: 0px;
            right: 0px;
        }

        img.avatar {
            position: relative;
        }

        .card-panel {
            margin: .15rem 0 .15rem 0;
        }
    </style>
    <script type="text/javascript">
        $('#info').val('{{ user.info or '' }}').trigger('autoresize');
        $('#back_button').click(function () {
            location.href = "{{ url_for('index') }}";
        })

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        if ($.cookie('toast_ctrl_index') !== '{{ message }}') {
          Materialize.toast('{{ message }}', 3000);
          $.cookie('toast_ctrl_index', '{{ message }}');
        }
        {% endfor %}
        {% endif %}
        {% endwith %}
    </script>
{% endblock %}
