{% extends "layouts/backLayout.html" %}


{% block content %}
    <div class="container">
        <div class="container">
            <br>
            <blockquote>
                信息修改
            </blockquote>
            <br>
            <div class="row">
                <form id="profileForm">
                    <div class="input-field s10 m=8 l=6">
                        <i class="material-icons prefix"><i class="material-icons ">person</i></i>
                        <input value="{{ user.nickname }}" type="text" id="nickname" name="nickname">
                        <label for="nickname">昵称</label>
                    </div>
                    <div class="input-field s10 m8 l6">
                        <i class="material-icons prefix"><i class="material-icons ">cake</i></i>
                        {% if user.birthday %}
                            <input value="{{ str(user.birthday)[:10] }}" type="text" class="datepicker" id="birthday"
                                   name="birthday">
                        {% else %}
                            <input value="" type="text" class="datepicker" id="birthday"
                                   name="birthday">
                        {% endif %}
                        <label for="birthday">生日</label>
                    </div>
                    <div class="input-field s10 m=8 l=6">
                        <i class="material-icons prefix"><i class="material-icons ">mail</i></i>
                        <input value="{{ user.email }}" type="text" id="email" name="email">
                        <label for="email">邮箱</label>
                    </div>
                    <div class="input-field s10 m=8 l=6">
                        <i class="material-icons prefix"><i class="material-icons ">mode_edit</i></i>
                        <input value="{{ user.password }}" type="password" id="password" name="password">
                        <label for="password">密码</label>
                    </div>
                    <div class="row">
                        <div class="col s3 l2 m2">
                            <input name="sex" type="radio" value="男" id="man"/>
                            <label for="man">男</label>
                        </div>
                        <div class="col s3 l2 m2">
                            <input name="sex" type="radio" value="女" id="female"/>
                            <label for="female">女</label>
                        </div>
                    </div>

                    <div class="button col s6 m6 l6">
                        <button class="btn waves-effect waves-light #ef5350 orange" type="submit">确定
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block script_content %}
    <script type="text/javascript">
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            clear: '清除',
            close: '确认',
            closeOnSelect: false, // Close upon selecting a date,
            format: 'yyyy-mm-dd',
            dateFormat: 'yyyy-mm-dd'
        });

        $(document).ready(function () {
            Materialize.updateTextFields();
            var sex = "{{ user.sex.name }}";
            if (sex === "man")
                $("#man").attr('checked', '');
            else if (sex === "female")
                $("#female").attr('checked', '');
        });
    </script>
{% endblock %}

