{#
Params:

enumerate
day_courses: dict[course] -> key为小节号 1-14 14为网课
course.name
course.location

current_day: time -> 当前所在日期的时间

#}


{% extends "layouts/defaultLayout.html" %}
{% block navbar_content %}
    <li><a href="{{ url_for('schedule.toweek_course_') }}">本周课程</a></li>
    <input id="date-container" style="display: none"/>
    <li><a href="#" id="dpcaller">日期</a></li>
{% endblock %}


{% block navbar_tabs %}
    <li class="tab"><a href="#course_offline">常规课程</a></li>
    <li class="tab"><a href="#course_online">线上课程</a></li>
{% endblock %}


{% block content %}
    <br>
    <div class="container">
        <div id="course_offline" class="col s12">
            <blockquote>
                线下课程
            </blockquote>
            <ul class="collapsible popout" data-collapsible="accordion" id="collapsible_offline">
                {% for _i, sec in enumerate([Section(1),Section(4),Section(6),Section(8),Section(11)]) %}
                    {% if day_courses[sec.name] %}
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">event</i>
                                第{{ (['一','二','三','四','五'])[_i] }}大节
                            </div>
                            <div class="collapsible-body">
                                {% for course in day_courses[sec.name] %}
                                    {{ course.name }}
                                    <br>
                                    {{ course.location or "无" }}
                                {% endfor %}
                            </div>
                        </li>
                    {% else %}
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">event</i>
                                第{{ (['一','二','三','四','五'])[_i] }}大节
                            </div>
                            <div class="collapsible-body">
                                无
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div id="course_online" class="col s12">
            <blockquote>
                线上课程
            </blockquote>
            <ul class="collapsible popout" data-collapsible="accordion" id="collapsible_online">
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">event</i>
                        线上课程
                    </div>
                    <div class="collapsible-body">
                        {% for course in day_courses['online'] %}
                            {{ course.name }}
                            <br>
                            {{ course.location or "无" }}
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}


{% block script_content %}
    <!--Color format-->
    <style>

    </style>
    <script type="text/javascript">
        var currYear = (new Date()).getFullYear();
        var dateSelected = new Date(
            parseInt($.getUrlParam('year')),
            parseInt($.getUrlParam('month'))-1,
            parseInt($.getUrlParam('day')));
        $(document).ready(function () {
            $('.collapsible').collapsible();
            $("#collapsible_online").collapsible('open', 0);

            var s1 = (new Date()).setHours(10, 25);
            var s2 = (new Date()).setHours(12, 15);
            var s3 = (new Date()).setHours(15, 35);
            var s4 = (new Date()).setHours(17, 15);
            var nowTime = Date.now();
            if (nowTime <= s1)
                $("#collapsible_offline").collapsible('open', 0);
            else if (nowTime < s2)
                $("#collapsible_offline").collapsible('open', 1);
            else if (nowTime < s3)
                $("#collapsible_offline").collapsible('open', 2);
            else if (nowTime < s4)
                $("#collapsible_offline").collapsible('open', 3);
            else
                $("#collapsible_offline").collapsible('open', 4);

            $('#date-container').mobiscroll().calendar({
                theme: 'material', //皮肤样式
                lang: 'zh',
                startYear: currYear - 1, //开始年份
                endYear: currYear + 1, //结束年份
                defaultValue: dateSelected,
                buttons: ['now', 'set', 'cancel']
            });
            $('#dpcaller').click(function () {
                $('#date-container').mobiscroll('show');
                return false;
            });

            $('#date-container').change(function () {
                var _date = $('#date-container').val().split('/');
                var _reURL = '/schedule/today_course%3Fyear%3D' + _date[0] + '%3Fmonth%3D' + _date[1] + '%3Fday%3D' + _date[2];
                window.location.href = _reURL;
            });
        });


        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    if ($.cookie('toast_ctrl_index') !== '{{ message }}') {
                        Materialize.toast('{{ message }}', 3000);
                        $.cookie('toast_ctrl_index', '{{ message }}');
                    }
                {% endfor %}
            {% endif %}
        {% endwith %}
    </script>
{% endblock %}
