{#
    Params:

    enumerate
    day_courses: dict[course] -> key为小节号 1-14 14为网课
        course.name
        course.location

    current_day: time -> 当前所在日期的时间

#}


{% extends "layouts/defaultLayout.html" %}
{% block navbar_content %}
    <li><a href={{ url_for('schedule.toweek_course_') }}>本周课程</a></li>
    <li>
        <a class="datepicker">
            <i class="material-icons right">arrow_drop_down</i>
            {{ time.tm_year }}.{{ time.tm_mon }}.{{ time.tm_mday }}
        </a>
    </li>
{% endblock %}


{% block navbar_tabs %}
    <li class="tab"><a href="#course_offline">常规课程</a></li>
    <li class="tab"><a href="#course_online">线上课程</a></li>
{% endblock %}


{% block tabs_content %}
    <div class="container">
        <div id="course_offline" class="col s12">
            <blockquote id="day_text">
                课程
            </blockquote>
            <ul class="collapsible popout" data-collapsible="accordion" id="collapsible_offline">
                {% for _i, sec in enumerate([1,4,6,8,11]) %}
                    {% if day_courses[sec] %}
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">event</i>
                                第{{ (['一','二','三','四','五'])[_i] }}大节
                            </div>
                            <div class="collapsible-body">
                                {% for course in day_courses[sec] %}
                                    {{ course.name }}
                                    <br>
                                    {{ course.location }}
                                {% endfor %}
                            </div>
                        </li>
                    {% else %}
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">event</i>
                                第{{ (['一','二','三','四','五'])[_i] }}大节
                            </div>
                            <div class="collapsible-body">
                                无
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div id="course_online" class="col s12">
            <blockquote>
                线上课程
            </blockquote>
            <div class="container">
                <ul class="collapsible popout" data-collapsible="accordion" id="collapsible_online">
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">event</i>
                            线上课程
                        </div>
                        <div class="collapsible-body">
                            {% for course in day_courses[14] %}
                                {{ course.name }}
                                <br>
                                {{ course.location }}
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


{% block script_content %}
    <!--Color format-->
    <style>
        .picker__date-display {
            background-color: #ffab40;
        }

        .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
            background-color: #ffab40;
        }

        .picker__close, .picker__today, .picker__clear {
            color: #f57c00;
        }

        .picker__day.picker__day--today {
            color: #f57c00;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.collapsible').collapsible();
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 3,
                today: '今天',
                clear: '清空',
                close: '跳转',
                closeOnSelect: false
            });
            $(".picker__close").bind("click", function () {
                var year = $(".picker__year>div").text();
                var month = $(".picker__select--month option:selected").toString();
                var day = $(".picker__day-display").text();
                alert(year + month + day);
            });
            $("#collapsible_online").collapsible('open', 0);
            var s1 = (new Date()).setHours(10, 25);
            var s2 = (new Date()).setHours(12, 15);
            var s3 = (new Date()).setHours(15, 35);
            var s4 = (new Date()).setHours(17, 15);
            var nowTime = Date.now();
            if (nowTime <= s1)
                $("#collapsible_offline").collapsible('open', 0);
            else if (nowTime < s2)
                $("#collapsible_offline").collapsible('open', 1);
            else if (nowTime < s3)
                $("#collapsible_offline").collapsible('open', 2);
            else if (nowTime < s4)
                $("#collapsible_offline").collapsible('open', 3);
            else
                $("#collapsible_offline").collapsible('open', 4);
        });
    </script>
{% endblock %}