{% extends "layout_back.html" %}
{% block tabs_content %}
    <div class="container">
        <blockquote>
            为<font size="4"> TA </font>送去生日祝福
        </blockquote>
        <br>
        <div class="container">
            <form action="{{ url_for('birthday.bless', birthday_id=birthday_id) }}" method="post">
                <div class="input-field col s12">
                    <i class="material-icons prefix">book</i>
                    {{ form.hidden_tag() }}
                    {{ form.template_code }}
                    {{ form.template_code.label }}
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    {{ form.blessing_wd }}
                    {{ form.blessing_wd.label }}
                </div>
                <button class="waves-effect waves-light btn orange lighten-2" type="submit">确定</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block script_content %}
    <script type="text/javascript">
        $("textarea").addClass("materialize-textarea");
        $("#template_code")
            .prepend("<option value=\"\" disabled selected>选择模版</option>")
            .addClass("icons");
        for(var i=0;i<4;++i)
        {
            $("#template_code").find("option[value="+ i +"]")
                .attr("data-icon", "{{ url_for("get_image", imagep="blessing_template_") }}"+i.toString()+".png")
                .addClass("left circle");
        }
        $("select").material_select();
    </script>
{% endblock %}