{% extends "layout_back.html" %}
{% block navbar_content %}
    <ul class="right">
        <li><a href="{{ url_for('birthday.bless',birthday_id=birthday.id) }}"><i class="material-icons left">add_circle</i>送祝福</a></li>
    </ul>
{% endblock %}
{% block tabs_content %}
    <div class="container">
        {% for blessing in birthday.blessings %}
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <a class="btn-floating btn-large halfway-fab waves-effect waves-light pulse orange accent-2">
                            <img style="border-radius:32px"
                                 src="{{ url_for('get_image', imagep='avatar.jpg') }}"></a>
                    </div>
                    <div class="card-content msg"
                         style="background-image: url({{ template_img(blessing.template_code) }})">
                        <span class="card-title right" style="text-shadow: 0px 0px 7px #ffffff"><font size="4">来自</font><font
                                size="5.2">
                            {% if blessing.user.permission.name == 'teacher' %}
                            {{ blessing.user.teacher.name }}
                            {% elif blessing.user.permission.name == 'student' %}
                            {{ blessing.user.student.name }}
                            {% else %}
                            {{ blessing.user.nickname }}
                            {% endif %}
                        </font><font size="4">的祝福:</font></span>
                        <br><br>
                        <blockquote>
                            <span class="flow-text">{{ blessing.blessing_wd }}</span>
                        </blockquote>
                        <span class="flow-text grey-text lighten-4 right"><font
                                size="2">{{ blessing.time }}</font></span>
                        <br>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block script_content %}
    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto);
        .msg {
            background-position: center center;
            background-repeat:no-repeat;
            background-size: cover;
            opacity: 0.9;
        }
        .msg blockquote {
            color: #0a0a0a;
            background-color: #ffebee;
            border-left: 4px solid #ac2925;
            padding: 1em 1.5em 1em 1.5em;
            position: relative;
            font-family: 'Roboto', sans-serif;
            line-height: 150%;
            text-indent: 35px;
            opacity: 0.8;
        }

        .msg blockquote:before {
            color: #8b1014;
            content: "\201C";
            font-size: 5em;
            position: absolute;
            left: -15px;
            top: 40px;
            line-height: 0.1em;
        }

        .msg blockquote:after {
            color: #8b1014;
            content: "\201D";
            font-size: 5em;
            position: absolute;
            right: 15px;
            bottom: 0em;
            line-height: 0.1em;
        }

        .btn-floating.btn-large.halfway-fab {
            right: 0px;
            left: 24px;
            bottom: -67px;
        }
    </style>
{% endblock %}