<!--
    groups: list(group)
-->

{% extends "layouts/defaultLayout.html" %}
{% block navbar_content %}
    <a class='dropdown-button click-to-toggle' href='#' data-activates='dropdown1'><i
            class=" large material-icons">add</i></a>
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#create" class="modal-trigger">创建群组</a></li>
        <li class="divider"></li>
        <li><a href="#add" class="modal-trigger">添加群组</a></li>
    </ul>
{% endblock %}
{% block navbar_tabs %}
    <li class="tab"><a href="#" class="active"><i class="material-icons left">group</i>群组</a></li>
{% endblock %}
{% block content %}
    <br>
    <div id="create" class="modal">
        <div class="modal-content">
            <h5>创建群组</h5>
            <br>
            <form id="groupForm">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="groupName" type="text" name="groupName" class="validate">
                        <label for="groupName">群名称</label>
                    </div>
                    <div class="input-field col s12">
                        <select id="groupClass" name="groupClass">
                            <option value="" disabled>选择群类型</option>
                            <option value="academic">学术类</option>
                            <option value="sport">体育类</option>
                            <option value="art">艺术类</option>
                            <option value="practice">实践类</option>
                            <option value="lecture">讲座</option>
                            <option value="daily">生活类</option>
                            <option value="other">其他</option>
                        </select>
                        <label for="groupClass">群类型</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="groupInfo" class="materialize-textarea" name="groupInfo"></textarea>
                        <label for="groupInfo">简介</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light right" type="submit">创建
                    <i class="material-icons right">send</i>
                </button>
                <br><br>
            </form>
        </div>
    </div>
    <div id="add" class="modal">
        <div class="modal-content">
            <h5>添加群组</h5>
            <br>
            <form id="subscribeGroup">
                <div class="input-field col s12">
                    <input id="groupNumber" name="groupNumber" type="text" class="validate">
                    <label for="groupNumber">群号</label>
                </div>
                <button class="btn waves-effect waves-light right" type="submit" name="action">查找
                    <i class="material-icons right">send</i>
                </button>
            </form>
            <br><br id="insert">
        </div>
    </div>
    <div class="container">
        <blockquote>
            我的群组
        </blockquote>
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">
                    <i class="large material-icons">face</i>
                    <span class="">我管理的群组</span>
                </div>
                <div class="collapsible-body">
                    {% for group in manage_groups %}
                        <div class="card-panel white z-depth-1">
                            <div class="row valign-wrapper" style="margin-bottom: 0px">
                                <div class="col s2"><i class="material-icons black-text">event</i></div>
                                <div class="col s6"><span>{{ group.name }}</span></div>
                                <div class="col s2"><a href="#my_{{ group.id }}"
                                                       class="waves-effect btn-floating modal-trigger">
                                    <i class="material-icons right">more_horiz</i></a>
                                </div>
                                <div class="col s2"><a href="{{ url_for('group.room_board', group_id=group.id) }}"
                                                       class="waves-effect btn-floating modal-trigger">
                                    <i class="material-icons right">chevron_right</i></a>
                                </div>
                                <div id="my_{{ group.id }}" class="modal modal-fixed-footer">
                                    <div class="modal-content">
                                        <blockquote style="border-left:5px solid orange;">
                                            <h4>{{ group.name }}</h4>
                                        </blockquote>
                                        <div class="container">
                                            <blockquote>群号</blockquote>
                                            <p>{{ group.id }}</p>
                                            <blockquote>类型</blockquote>
                                            <p>{{ group.cls.value }}</p>
                                            <blockquote>简介</blockquote>
                                            <p>{{ group.info }}</p>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <a class="modal-action modal-close waves-effect waves-green btn-flat disabled">删除群</a>
                                        <a href="#!"
                                           class="modal-action modal-close waves-effect waves-green btn-flat ">关闭</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons medium">people</i>
                    <span class="">我加入的群组</span>
                </div>
                <div class="collapsible-body">
                    {% for group in my_groups %}
                        <div class="card-panel white z-depth-1">
                            <div class="row valign-wrapper" style="margin-bottom: 0px">
                                <div class="col s2"><i class="material-icons black-text">event</i></div>
                                <div class="col s6"><span class=" black-text">{{ group.name }}</span></div>
                                <div class="col s2"><a href="#manage_{{ group.id }}"
                                                       class="waves-effect btn-floating modal-trigger">
                                    <i class="material-icons right">more_horiz</i></a>
                                </div>
                                <div class="col s2"><a href="{{ url_for('group.room_board', group_id=group.id) }}"
                                                       class="waves-effect btn-floating modal-trigger">
                                    <i class="material-icons right">chevron_right</i></a>
                                </div>
                                <div id="manage_{{ group.id }}" class="modal modal-fixed-footer">
                                    <div class="modal-content">
                                        <blockquote style="border-left:5px solid orange;">
                                            <h4>{{ group.name }}</h4>
                                        </blockquote>
                                        <div class="container">
                                            <blockquote>群号</blockquote>
                                            <p>{{ group.id }}</p>
                                            <blockquote>类型</blockquote>
                                            <p>{{ group.cls.value }}</p>
                                            <blockquote>简介</blockquote>
                                            <p>{{ group.info }}</p>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <a onclick="hide_show_modal('#manage_{{ group.id }}','#exit_group_{{ group.id }}')"
                                                class="waves-effect waves-green btn-flat">退出群</a>
                                        <a href="#!"
                                           class="modal-action modal-close waves-effect waves-green btn-flat ">关闭</a>
                                    </div>
                                </div>
                                <div id="exit_group_{{ group.id }}" class="modal">
                                    <div class="modal-content">
                                        <h4>确认</h4>
                                        <p>确认退出群组 "{{ group.name }}" ？</p><br>
                                        <p class="gray-text">群ID: {{ group.id }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a onclick="leaveGroup({{ group.id }})"
                                           class="waves-effect waves-green btn-flat">确认</a>
                                        <a onclick="hide_show_modal('#exit_group_{{ group.id }}','#manage_{{ group.id }}')"
                                           class="modal-action modal-close waves-effect waves-red btn-flat">取消</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
{% block script_content %}
    <style>
        @media screen and (max-width: 600px) {
            .nav-wrapper {
                height: 64px !important;
            }
        }

        #global-nav {
            height: 112px;
        }
    </style>
    <script>
        $('.dropdown-button').dropdown({
                inDuration: 300,
                outDuration: 225,
                constrain_width: false, // Does not change width of dropdown to that of the activator
                hover: false, // Activate on hover
                gutter: 0, // Spacing from edge
                belowOrigin: false, // Displays dropdown below the button
                alignment: 'left' // Displays dropdown with edge aligned to the left of button
            }
        );
        $(document).ready(function () {
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
            $('select').material_select();
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        if ($.cookie('toast_ctrl_index') !== '{{ message }}') {
                            Materialize.toast('{{ message }}', 3000);
                            $.cookie('toast_ctrl_index', '{{ message }}');
                        }
                    {% endfor %}
                {% endif %}
            {% endwith %}
        });
        function subGroupHandler(){
            var group_id=$('#groupNumber').val();
            $.post('{{ url_for('group.apply_into_group',group_id=0) }}'+group_id.toString(),
                {
                  title:$("#applyInGroupTitle").val(),
                  content:$("#applyInGroupContent").val()
                },
                function (data) {
                    if (data){
                        Materialize.toast(data, 3000);
                        $('#add').modal('close');
                    }
                });
        }
        function insertAIGForm() {
          const applyInGroupF = $('#applyInGroup');
          if (applyInGroupF) applyInGroupF.remove();
          $("#exist").css("display","none");
          $("#exist").after(applyInGroup);
        }
        function hide_show_modal(modal_hd, modal_sh) {
            $(modal_hd).modal('close');
            $(modal_sh).modal('open');
        }

    </script>
{% endblock %}
