<!--
    msg_dict_public
    msg_dict_chat
    group
    user
    db

-->


{% extends "layouts/defaultLayout.html" %}
{% block navbar_content %}
    {% if AdminPermission %}
        <a class="modal-trigger" href="#activity"><i class="material-icons left">add</i>发起活动</a>
    {% endif %}
{% endblock %}
{% block navbar_tabs %}
    <li class="tab"><a href="#public-body"><i class="material-icons left">announcement</i>公告</a></li>
    <li class="tab"><a href="#chat-body">消息</a></li>
    <li class="tab"><a href="#activity-body">活动</a></li>
    {% if AdminPermission %}
        <li class="tab manage"><a href="#member-body">成员</a></li>
        <li class="tab manage"><a href="#manage-body">属性</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <style>
        .full-screen {
            background: white;
            top: 0;
            bottom: -20px;
            left: 0;
            right: 0;
            position: absolute;
            z-index: 1500;
        }

        .preloader-wrapper {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
        }

        .modal.bottom-sheet {
            max-height: 100%;
        }

        .secondary-content {
            margin-top: 7px;
        }

        .btn-narrow {
            padding: 0 20%;
        }

        .app-reject:checked + label:after,
        .app-reject:checked + label:before {
            border: 2px solid #e57373 !important;
        }

        .app-reject:checked + label:after {
            background-color: #e57373 !important;
        }
    </style>
    <div class="full-screen" id="preloader">
        <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modals -->
    {% if AdminPermission %}
        <div id="activity" class="modal" style="max-height: 88%">
            <form class="col s12" id="activityForm">
                <div class="modal-content">
                    <h5>活动发起</h5>
                    <div class="row">
                        <div class="input-field col s12">
                            <input value="" id="activityName" name="activityName" type="text">
                            <label class="active" for="activityName">活动名称</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="activityContent" name="activityContent"
                                      class="materialize-textarea"></textarea>
                            <label for="activityContent">活动内容</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="activityStartDate" name="activityStartDate" type="text">
                            <label for="activityStartDate">开始日期</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="activityStartTime" name="activityStartTime" type="text">
                            <label for="activityStartTime">开始时间</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="activityEndDate" name="activityEndDate" type="text">
                            <label for="activityEndDate">结束日期</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="activityEndTime" name="activityEndTime" type="text">
                            <label for="activityEndTime">结束时间</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 l3 m4 right">
                            <button class="btn waves-effect waves-light right" type="submit">
                                发起<i class="material-icons right">send</i>
                            </button>
                        </div>
                        <div class="col s4 l3 m4 right">
                            <a class="btn grey waves-effect waves-light modal-close right">
                                取消<i class="material-icons right">close</i>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="activityChange" class="modal" style="max-height: 100%;">
            <form class="col s12" id="activityChangeForm">
                <div class="modal-content">
                    <h5>活动信息修改</h5>
                    <div class="row">
                        <div class="input-field col s12">
                            <input disabled value="" id="activityID" type="text">
                            <label class="active" for="activityID">活动ID</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input value="" id="activityChangeName" name="activityName" type="text">
                            <label class="active" for="activityChangeName">活动名称</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="activityChangeContent" name="activityContent"
                                      class="materialize-textarea"></textarea>
                            <label for="activityChangeContent">活动内容</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="activityChangeStartDate" name="activityStartDate" type="text">
                            <label for="activityChangeStartDate">开始日期</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="activityChangeStartTime" name="activityStartTime" type="text">
                            <label for="activityChangeStartTime">开始时间</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="activityChangeEndDate" name="activityEndDate" type="text">
                            <label for="activityChangeEndDate">结束日期</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="activityChangeEndTime" name="activityEndTime" type="text">
                            <label for="activityChangeEndTime">结束时间</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 l3 m4 right">
                            <button class="btn waves-effect waves-light right" type="submit">
                                修改<i class="material-icons right">send</i>
                            </button>
                        </div>
                        <div class="col s4 l3 m4 right">
                            <a class="btn grey waves-effect waves-light modal-close right">
                                取消<i class="material-icons right">close</i>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="manage_msg" class="modal">
            <form class="col s12" id="manageMsgForm">
                <div class="modal-content">
                    <h5>消息管理</h5>
                    <div class="row">
                        <div class="input-field col s12">
                            <input disabled value="" id="manageMsgID" name="id" type="text" class="validate">
                            <label for="manageMsgID">消息ID</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input value="" id="manageMsgTitle" name="title" type="text" class="validate">
                            <label class="active" for="manageMsgTitle">消息标题</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="manageMsgContent" name="content" class="materialize-textarea"></textarea>
                            <label for="manageMsgContent">消息内容</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 l3 m4">
                            <a class="btn grey waves-effect waves-light modal-close right">
                                关闭<i class="material-icons right">close</i>
                            </a>
                        </div>
                        <div class="col s4 l3 m4">
                            <a class="btn red waves-effect waves-light right"
                               onclick="deleteMsg($('#manageMsgID').val())">
                                删除<i class="material-icons right">delete</i>
                            </a>
                        </div>
                        <div class="col s4 l3 m4">
                            <button class="btn waves-effect waves-light right" type="submit">修改
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="activity_menu" class="modal bottom-sheet">
            <div class="modal-content">
                <h4 id="activity_menu_title"></h4>
                <ul class="collection">
                    <li class="collection-item">
                        <div class="row" onclick="$('#activity_menu').modal('close'); getActInfo(currentActId);"
                             style="margin-bottom: 0">
                            <div class="col s10">
                                <span class="title">活动详情<br><font color="#808080">显示活动相关信息</font></span>
                            </div>
                            <div class="col s2">
                                <a class="secondary-content"><i class="material-icons">more_horiz</i></a>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row" onclick="$('#activity_menu').modal('close'); editAct(currentActId);"
                             style="margin-bottom: 0">
                            <div class="col s10">
                                <span class="title">修改活动<br><font color="#808080">修改活动相关信息</font></span></div>
                            <div class="col s2">
                                <a class="secondary-content"><i class="material-icons">mode_edit</i></a></div>
                        </div>
                    </li>
                    <li id="activity_menu_toggle_active" class="collection-item" hidden>
                        <div class="row" onclick="$('#activity_menu').modal('close'); switchAct(currentActId, 1);"
                             style="margin-bottom: 0">
                            <div class="col s10">
                                <span class="title">激活活动<br><font color="#808080">激活后活动将显示在签到页面</font></span></div>
                            <div class="col s2">
                                <a class="secondary-content"><i class="material-icons">check_circle</i></a></div>
                        </div>
                    </li>
                    <li id="activity_menu_toggle_deactive" class="collection-item" hidden>
                        <div class="row" onclick="$('#activity_menu').modal('close'); switchAct(currentActId, 0);"
                             style="margin-bottom: 0">
                            <div class="col s10">
                                <span class="title">停用活动<br><font color="#808080">活动将结束并生成签到统计数据</font></span></div>
                            <div class="col s2">
                                <a class="secondary-content"><i class="material-icons red-text">pause_circle_filled</i></a>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row" onclick="$('#activity_menu').modal('close'); deleteAct(currentActId);"
                             style="margin-bottom: 0">
                            <div class="col s10">
                                <span class="title">删除活动<br><font color="#808080">彻底删除该活动及相关记录</font></span></div>
                            <div class="col s2">
                                <a class="secondary-content"><i class="material-icons">delete</i></a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="require_menu" class="modal">
            <form id="acceptApplicationForm">
                <div class="modal-content">
                    <h5>入群请求</h5>
                    <ul class="collection">
                        <li class="collection-item">
                            <div class="row" style="margin-bottom: 0">
                                <div class="col s6">
                                    <a class="waves-effect waves-light btn btn-narrow"
                                       onclick="$('.app-accept').prop('checked', 1)">全部接受</a>
                                </div>
                                <div class="col s6">
                                    <a class="waves-effect waves-light btn red lighten-2 btn-narrow"
                                       onclick="$('.app-reject').prop('checked', 1)">全部拒绝</a>
                                </div>
                            </div>
                        </li>
                        {% for _idx, req in msg_dict_req.items() %}
                            <li class="collection-item">
                                <div class="row" style="margin-bottom: 0">
                                    <div class="col s8">
                                        <span class="title">{{ req.username }}<br><font
                                                color="#808080">{{ req.content }}</font></span>
                                    </div>
                                    <div class="col s4">
                                        <input class="with-gap app-accept" name="{{ req.user_id }}" value="a"
                                               type="radio"
                                               id="a_{{ _idx }}"/>
                                        <label for="a_{{ _idx }}">接受</label>
                                        <input class="with-gap app-reject" name="{{ req.user_id }}" value="r"
                                               type="radio"
                                               id="r_{{ _idx }}"/>
                                        <label for="r_{{ _idx }}">拒绝</label>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">关闭</a>
                    <button type="submit"
                            class="modal-action modal-close waves-effect waves-green btn-flat ">确认
                    </button>
                </div>
            </form>
        </div>
    {% endif %}
    <div id="activity_info" class="modal" style="max-height: 88%">
        <div class="modal-content">
            <h5>活动信息</h5>
            <div class="row">
                <blockquote>
                    活动名称
                </blockquote>
                <p id="act_infoName"></p>
            </div>
            <div class="row">
                <blockquote>
                    活动内容
                </blockquote>
                <p id="act_infoContent"></p>
            </div>
            <div class="row">
                <blockquote>
                    时间
                </blockquote>
                <p id="act_infoTime"></p>
            </div>
        </div>
    </div>

    <!-- Pages -->
    <br>
    <div class="container" style="width: 85%">
        <div class="col s12 m10 l9" id="public-body">
            <ul id="public-msg">
                {% for idx, msg in msg_dict_public.items() %}
                    <li style="opacity: 0">
                        <div class="col s12 m7">
                            <div class="card">
                                <div class="card-content msg">
                                    <div class="row">
                                    <span class="card-title left" style="text-shadow: 0px 0px 7px #ffffff">
                                        <font size="4">来自</font> <font size="4.2">{{ msg.username }}</font> <font
                                            size="4">的公告:</font></span></div>
                                    <blockquote>
                                        <span style="font-size: 20px">{{ msg.title }}</span>
                                        <br>
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ msg.content }}</span>
                                    </blockquote>
                                    <div class="row" style="margin-bottom: 0">
                                        <a onclick="manageMsg({{ idx }},'{{ msg.title }}','{{ msg.content }}')"
                                           class="manage btn-floating right"><i
                                                class="material-icons">edit</i></a>
                                        <span class="flow-text grey-text lighten-4 right" style="margin-top: 5px"><font
                                                size="2">{{ msg.time[:-7] }}</font>&nbsp;&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="manage fixed-action-btn click-to-toggle">
                <a class="btn-floating btn-large waves-effect red modal-trigger" href="#send-public">
                    <i class="large material-icons">mode_edit</i>
                </a>
            </div>
            <div id="send-public" class="modal">
                <form class="col s12" id="sendAnno">
                    <div class="modal-content">
                        <h5>发送公告</h5>
                        <div class="row">
                            <div class="input-field col s12">
                                <input value="" id="annoTitle" type="text" name="title">
                                <label class="active" for="annoTitle">公告标题</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="annoContent" name="content" class="materialize-textarea"></textarea>
                                <label for="annoContent">公告内容</label>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light right" type="submit">发送
                            <i class="material-icons right">send</i>
                        </button>
                        <br><br>
                    </div>
                </form>
            </div>
        </div>
        <div class="col s12 m10 l9" id="chat-body">
            <ul>
                {% for idx, msg in msg_dict_chat.items() %}
                    <li style="opacity: 0">
                        <div class="col s12 m7">
                            <div class="card" style="border-radius: 20px">
                                <div class="card-content msg" style="padding: 10px 20px;">
                                    <div class="row" style="margin: auto">
                                         <span class="card-title left" style="text-shadow: 0 0 7px #ffffff">
                                             <font size="3">{{ msg.username }}:</font></span>
                                    </div>
                                    <div class="row" style="margin: auto">
                                        <span style="font-size: 16px">{{ msg.content }}</span>
                                        <br>
                                        <span class="flow-text grey-text lighten-4 right"><font
                                                size="2">{{ msg.time[:-7] }}</font></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="fixed-action-btn click-to-toggle">
                <a class="btn-floating btn-large waves-effect modal-trigger red" href="#send-chat">
                    <i class="large material-icons">mode_edit</i>
                </a>
            </div>
            <div id="send-chat" class="modal">
                <form class="col s12" id="sendMsg">
                    <div class="modal-content">
                        <h5>发送消息</h5>
                        <div class="row" style="display: none">
                            <div class="input-field col s12">
                                <input value="" id="msgTitle" type="text" name="title">
                                <label class="active" for="msgTitle">消息标题</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="msgContent" name="content" class="materialize-textarea"></textarea>
                                <label for="msgContent">消息内容</label>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light right" type="submit">发送
                            <i class="material-icons right">send</i>
                        </button>
                        <br><br>
                    </div>
                </form>
            </div>
        </div>
        <div class="col s12 m10 l9" id="activity-body">
            <a href="{{ url_for('attendance.group_activity_list', group_id=group.id) }}">查看近期活动统计情况</a>
            <br>
            <br>
            <blockquote>
                正进行的活动
            </blockquote>
            <ul class="collection">
                {% for activity in activated_acts %}
                    <li class="collection-item">
                        <div class="row" onclick="showActMenuModal({{ activity.id }}, '{{ activity.name }}', 0)"
                             style="margin-bottom: 0">
                            <div class="col s2"><i class="material-icons left"
                                                   style="margin-top: 7px;">event_available</i></div>
                            <div class="col s8">
                                {{ activity.name }}<br><font
                                    color="#808080">{{ activity.ref_groups.first().start or "时间未确定" }}</font>
                            </div>
                            <div class="col s2">
                                <a class="secondary-content"><i class="material-icons">chevron_right</i></a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% if AdminPermission %}
                <blockquote>
                    未激活的活动
                </blockquote>
                <ul class="collection">
                    {% for activity in deactivated_acts %}
                        <li class="collection-item">
                            <div class="row" onclick="showActMenuModal({{ activity.id }}, '{{ activity.name }}', 1)"
                                 style="margin-bottom: 0">
                                <div class="col s2"><i class="material-icons left" style="margin-top: 7px;">event_available</i>
                                </div>
                                <div class="col s8">
                                    {{ activity.name }}<br><font
                                        color="#808080">{{ activity.ref_groups.first().start or "时间未确定" }}</font>
                                </div>
                                <div class="col s2">
                                    <a class="secondary-content"><i class="material-icons">chevron_right</i></a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% if AdminPermission %}
            <div class="col s12 m10 l9" id="manage-body">
                <div class="row">
                    <div class="col s12 l6">
                        <blockquote>
                            群设置
                        </blockquote>
                        <div class="container">
                            <form id="mutateGroupForm">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input value="{{ group.name }}" id="groupName" name="groupName"
                                               type="text">
                                        <label for="groupName">群名称</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <select id="groupClass" name="groupClass">
                                            <option value="" disabled>选择群类型</option>
                                            <option value="academic">学术类</option>
                                            <option value="sport">体育类</option>
                                            <option value="art">艺术类</option>
                                            <option value="practice">实践类</option>
                                            <option value="lecture">讲座</option>
                                            <option value="daily">生活类</option>
                                            <option value="other">其他</option>
                                        </select>
                                        <label for="groupClass">群类型</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="groupInfo" class="materialize-textarea"
                                                  name="groupInfo"></textarea>
                                        <label for="groupInfo">简介</label>
                                    </div>
                                </div>
                                <button class="btn waves-effect waves-light right" type="submit">
                                    提交修改
                                    <i class="material-icons right">send</i>
                                </button>
                                <br><br>
                            </form>
                        </div>
                    </div>
                    <div class="col s12 l6">
                        <blockquote>
                            关键操作
                        </blockquote>
                        <div class="row">
                            <div class="col s6 l12 col-btn">
                                <a class="waves-effect waves-light btn red modal-trigger"
                                   href="#delete_modal">删除群<i class="material-icons right">close</i></a>
                            </div>
                            <div class="col s6 l12 col-btn">
                                <a class="waves-effect waves-light btn red modal-trigger"
                                   href="#delete_board_msg">清空公告板<i class="material-icons right">delete_forever</i></a>
                            </div>
                            <div class="col s6 l12 col-btn">
                                <a class="waves-effect waves-light btn red modal-trigger"
                                   href="#delete_public_msg">清空聊天室<i class="material-icons right">delete_forever</i></a>
                            </div>
                            <div class="col s6 l12 col-btn">
                                <a class="waves-effect waves-light btn red modal-trigger"
                                   href="#trans_group">转让群<i class="material-icons right">delete_forever</i></a>
                            </div>
                        </div>
                        <div id="trans_group" class="modal">
                            <div class="modal-content">
                                <h5><i class="material-icons left">report_problem</i>注意</h5>
                                <p>即将转让群主给</p>
                                <div class="input-field col s12">
                                    <select id="trans_select">
                                        <option value="" disabled selected>选择成员</option>
                                        {% for member_ref in group.ref_users %}
                                            {% if member_ref.user_cls != db.Role.leader %}
                                                <option value="{{ member_ref.user.id }}">{{ member_ref.user.nickname or member_ref.user.account }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <p>您将成为该群的普通成员，继续？</p>
                            </div>
                            <div class="modal-footer">
                                <a onclick="trans_group()"
                                   class="modal-action modal-close waves-effect waves-red btn-flat">确认</a>
                                <a href="#!"
                                   class="modal-action modal-close waves-effect waves-green btn-flat">取消</a>
                            </div>
                        </div>
                        <div id="delete_modal" class="modal">
                            <div class="modal-content">
                                <h5><i class="material-icons left">report_problem</i>注意</h5>
                                <p>正在删除群，所有成员将会被解散，确认？</p>
                            </div>
                            <div class="modal-footer">
                                <a href="{{ url_for('group.delete_group', group_id=group.id) }}"
                                   class="modal-action modal-close waves-effect waves-red btn-flat">确认</a>
                                <a href="#!"
                                   class="modal-action modal-close waves-effect waves-green btn-flat">取消</a>
                            </div>
                        </div>
                        <div id="delete_board_msg" class="modal">
                            <div class="modal-content">
                                <h5><i class="material-icons left">report_problem</i>注意</h5>
                                <p>正在清空公告板，该操作不可逆，确认？</p>
                            </div>
                            <div class="modal-footer">
                                <a onclick="clearMsg('board')"
                                   class="modal-action modal-close waves-effect waves-red btn-flat">确认</a>
                                <a href="#!"
                                   class="modal-action modal-close waves-effect waves-green btn-flat">取消</a>
                            </div>
                        </div>
                        <div id="delete_public_msg" class="modal">
                            <div class="modal-content">
                                <h5><i class="material-icons left">report_problem</i>注意</h5>
                                <p>正在清空聊天内容，该操作不可逆，确认？</p>
                            </div>
                            <div class="modal-footer">
                                <a onclick="clearMsg('public')"
                                   class="modal-action modal-close waves-effect waves-red btn-flat">确认</a>
                                <a href="#!"
                                   class="modal-action modal-close waves-effect waves-green btn-flat">取消</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m10 l9" id="member-body">
                <div class="row">
                    <div class="col s12">
                        <blockquote>
                            成员管理
                        </blockquote>
                        {% if msg_dict_req.__len__() %}
                            <div class="collection">
                                <a class="collection-item" onclick="$('#require_menu').modal('open')"><span
                                        class="new badge"
                                        data-badge-caption="请求">{{ msg_dict_req.__len__() }}</span>入群请求</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <ul class="collection">
                            {% for member_ref in group.ref_users %}
                                <li class="collection-item avatar">
                                    <img src="{{ member_ref.user.avatar }}" alt="" class="circle">
                                    <span class="title">{{ member_ref.user.nickname or member_ref.user.account }}</span>
                                    <p>{{ member_ref.user_cls }}</p>
                                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
{#                                    {% if member_ref.user_cls == db.Role.leader %}#}
{#                                        <div class="row" style="margin-bottom: 0;">#}
{#                                            <div class="col s1"><i class="material-icons">account_circle</i>#}
{#                                            </div>#}
{#                                            <div class="col s11"#}
{#                                                 style="margin-top: 3px">{{ member_ref.user.nickname or member_ref.user.account }}</div>#}
{#                                        </div>#}
{#                                    {% elif member_ref.user_cls == db.Role.admin %}#}
{#                                        <div class="row" style="margin-bottom: 0">#}
{#                                            <div class="col s1"><i class="material-icons">assignment_ind</i>#}
{#                                            </div>#}
{#                                            <div class="col s5"#}
{#                                                 style="margin-top: 3px">{{ member_ref.user.nickname or member_ref.user.account }}</div>#}
{#                                            <a href="#"#}
{#                                               onclick="kickOut({{ group.id }},{{ member_ref.user.id }})"#}
{#                                               class="secondary-content red-text">#}
{#                                                <i class="material-icons left">close</i>#}
{#                                                <span>删除成员</span>#}
{#                                            </a>#}
{#                                        </div>#}
{#                                        <div class="row" style="margin-bottom: 0">#}
{#                                            <a href="#"#}
{#                                               onclick="switchRole({{ group.id }},{{ member_ref.user.id }},'normal')"#}
{#                                               class="secondary-content">#}
{#                                                <i class="material-icons left">not_interested</i>#}
{#                                                <span>删除管理员</span>#}
{#                                            </a>#}
{#                                        </div>#}
{#                                    {% elif member_ref.user_cls == db.Role.normal %}#}
{#                                        <div class="row" style="margin-bottom: 0">#}
{#                                            <div class="col s1"><i class="material-icons">book</i></div>#}
{#                                            <div class="col s5"#}
{#                                                 style="margin-top: 3px">{{ member_ref.user.nickname or member_ref.user.account }}</div>#}
{#                                            <a href="#"#}
{#                                               onclick="kickOut({{ group.id }},{{ member_ref.user.id }})"#}
{#                                               class="secondary-content red-text">#}
{#                                                <i class="material-icons left">close</i>#}
{#                                                <span>删除成员</span>#}
{#                                            </a>#}
{#                                        </div>#}
{#                                        <div class="row" style="margin-bottom: 0">#}
{#                                            <a href="#"#}
{#                                               onclick="switchRole({{ group.id }},{{ member_ref.user.id }},'admin')"#}
{#                                               class="secondary-content">#}
{#                                                <i class="material-icons left">assignment_turned_in</i>#}
{#                                                <span>设置管理员</span>#}
{#                                            </a>#}
{#                                        </div>#}
{#                                    {% endif %}#}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block script_content %}
    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto);

        .col-btn {
            margin-bottom: 10px;
        }

        .round {
            border-radius: 32px;
        }

        div#activityChange.modal.open {
            top: 4% !important;
        }

        div#activityChange.modal.velocity-animating {
            top: 4% !important;
        }

        .card .card-content .card-title {
            margin-left: 10px;
            margin-bottom: 0;
        }

        .msg {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.9;
        }

        .msg blockquote {
            margin: 5px 0;
            color: #0a0a0a;
            background-color: #ffebee;
            border-left: 4px solid #ac2925;
            padding: 1em 1.5em 1em 1.5em;
            position: relative;
            font-family: 'Roboto', sans-serif;
            line-height: 150%;
            text-indent: 35px;
            opacity: 0.8;
        }

        .msg blockquote:before {
            color: #8b1014;
            content: "\201C";
            font-size: 5em;
            position: absolute;
            left: -15px;
            top: 40px;
            line-height: 0.1em;
        }

        .msg blockquote:after {
            color: #8b1014;
            content: "\201D";
            font-size: 5em;
            position: absolute;
            right: 15px;
            bottom: 0em;
            line-height: 0.1em;
        }

        .card .btn-floating.btn-large.halfway-fab {
            right: 0px;
            left: 24px;
            bottom: -67px;
        }

        .btn-floating.halfway-fab.left {
            top: 24px;
        }

        @media screen and (max-width: 992px) {
            #global-nav {
                height: 104px;
            }
        }

        @media screen and (max-width: 600px) {
            .nav-wrapper {
                height: 64px !important;
            }
        }

        #global-nav {
            height: 112px;
        }
    </style>
    <script type="text/javascript">
        $('footer').css('display', 'none');
        var activityStartDate = new Date();
        var currentActId;
        $(document).ready(function () {
            $('select').material_select();
            $('#groupName').val('{{ group.name }}');
            $('#groupInfo').val('{{ group.info }}').trigger('autoresize');
            $('#groupClass').val('{{ group.cls.name }}');
            $('.modal').modal();
            $('select').material_select();
            Materialize.updateTextFields();

            $('#activityStartDate').mobiscroll().calendar({
                dateFormat: "yy-mm-dd",
                onClose: function (event, inst) {
                    activityStartDate = inst.getVal();
                    $('#activityStartTime').mobiscroll('option', {defaultValue: activityStartDate});
                }
            });
            $('#activityEndDate').mobiscroll().calendar({
                dateFormat: "yy-mm-dd",
                onClose: function (event, inst) {
                    $('#activityEndTime').mobiscroll('option', {defaultValue: inst.getVal()});
                }
            });
            $('#activityStartTime').mobiscroll().time({
                timeFormat: 'HH:ii',
                onClose: function (event, inst) {
                    activityStartDate = inst.getVal();
                }
            });
            $('#activityEndTime').mobiscroll().time({
                timeFormat: 'HH:ii',
            });

            $('#activityChangeStartDate').mobiscroll().calendar({
                dateFormat: "yy-mm-dd",
                onClose: function (event, inst) {
                    activityStartDate = inst.getVal();
                    $('#activityChangeStartTime').mobiscroll('option', {defaultValue: activityChangeStartDate});
                }
            });
            $('#activityChangeEndDate').mobiscroll().calendar({
                dateFormat: "yy-mm-dd",
                onClose: function (event, inst) {
                    $('#activityChangeEndTime').mobiscroll('option', {defaultValue: inst.getVal()});
                }
            });
            $('#activityChangeStartTime').mobiscroll().time({
                timeFormat: 'HH:ii',
                onClose: function (event, inst) {
                    activityStartDate = inst.getVal();
                }
            });
            $('#activityChangeEndTime').mobiscroll().time({
                timeFormat: 'HH:ii',
            });

            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: '今天',
                clear: '清除',
                close: '确认',
                closeOnSelect: false // Close upon selecting a date,
            });
            $('#manage-body').click(function () {
                $("#sending_row").hide();
            });
            $('#chat-body').click(function () {
                $("#sending_row").show();
            });
            $('#public-body').click(function () {
                $("#sending_row").show();
            });

            {% if not AdminPermission %}
                $('.manage').css('display', 'none');
            {% endif %}

            {% if channel_branch == 'board' %}
                $('ul.tabs').tabs('select_tab', 'public-body');
            {% elif channel_branch == 'public' %}
                $('ul.tabs').tabs('select_tab', 'chat-body');
            {% elif channel_branch == 'apply_in' %}
                $('ul.tabs').tabs('select_tab', 'manage-body');
            {% elif channel_branch == 'act' %}
                $('ul.tabs').tabs('select_tab', 'activity-body');
            {% endif %}

            $('#preloader').fadeOut(500, function () {
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            Materialize.toast('{{ message }}', 3000);
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                $('#preloader').css('display', 'none');
                Materialize.showStaggeredList('#public-body');
                Materialize.showStaggeredList('#chat-body');
            });

            $('#acceptApplicationForm').validate({
                submitHandler: function (form) {
                    $.post(
                        "/enter_group?group_id=" + getId().toString(),
                        $(form).serializeArray(),
                        function (data) {

                        }
                    );
                }
            });
        });

        function manageMsg(msg_id, msg_title, msg_content) {
            $("#manageMsgID").val(msg_id);
            $("#manageMsgTitle").val(msg_title);
            $("#manageMsgContent").val(msg_content);
            Materialize.updateTextFields();
            $('#manage_msg').modal('open');
        }

        function getId() {
            return {{ group.id }};
        }

        function trans_group() {
            var userID = $('#trans_select').val();
            $.get('/group/trans_group%3Fgroup%3D' + '{{ group.id }}' + '%3Fuser%3D' + userID);
        }

        function showActMenuModal(act_id, act_name, act_state) {
            currentActId = act_id;
            {% if AdminPermission %}
                $('#activity_menu_title').text(act_name);
                if (act_state) {
                    $('#activity_menu_toggle_deactive').hide();
                    $('#activity_menu_toggle_active').show();
                }
                else {
                    $('#activity_menu_toggle_active').hide();
                    $('#activity_menu_toggle_deactive').show();
                }
                $('#activity_menu').modal('open');
            {% else %}
                getActInfo(currentActId);
            {% endif %}
        }
    </script>
{% endblock %}
