<!--
    msg_dict_public
    msg_dict_chat
    group
    user
    db

-->


{% extends "layouts/defaultLayout.html" %}
{% block navbar_content %}
{% endblock %}
{% set AdminPermotion = not (db.UserGroup.query.filter(db.UserGroup.user_id == user.id).first().user_cls == db.Role.normal) %}
{% block navbar_tabs %}
    <li class="tab"><a href="#public-body"><i class="material-icons left">announcement</i>公告</a></li>
    <li class="tab"><a href="#chat-body"><i class="material-icons left"></i>全部消息</a></li>
    {% if AdminPermotion %}
        <li class="tab manage"><a href="#manage-body"><i class="material-icons left"></i>管理</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <div id="manage_msg" class="modal manage">
        <div class="modal-content">
            <h5>消息管理</h5>
            <form class="col s12" method="POST">
                <div class="row">
                    <div class="input-field col s12">
                        <input disabled value="" id="managemsgID" type="text" class="validate">
                        <label for="managemsgID">消息ID</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input value="" id="managemsgTitle" type="text" class="validate">
                        <label class="active" for="managemsgTitle">消息标题</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="managemsgContent" class="materialize-textarea"></textarea>
                        <label for="managemsgContent">消息内容</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light right" type="submit" name="action">修改
                    <i class="material-icons right">send</i>
                </button>
                <br><br>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">确认</a>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="col s12 m10 l9" id="public-body">
            <ul>
                {% for msg in msg_dict_public.items() %}
                    <li>
                        <div class="col s12 m7">
                            <div class="card">
                                <div class="card-content msg">
                                <span class="card-title right" style="text-shadow: 0px 0px 7px #ffffff">
                                    <font size="4">来自</font>{{ msg.name }}<font size="5.2"></font>
                                    <font size="4">的公告:</font></span>
                                    <br><br>
                                    <blockquote>
                                        <span class="flow-text">{{ msg.title }}</span>
                                        <span>{{ msg.content }}</span>
                                    </blockquote>
                                    <span class="flow-text grey-text lighten-4 right"><font
                                            size="2">{{ msg.time }}</font></span>
                                    <a onclick="manageMsg({{ msg.id }},'{{ msg.title }}','{{ msg.content }}')"
                                       class="manage_msg btn-floating right"><i
                                            class="material-icons">edit</i></a>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col s12 m10 l9" id="chat-body">
            <ul>
                {% for _i, msg in msg_dict_chat.items() %}
                    <li>
                        <div class="col s12 m7">
                            <div class="card">
                                <div class="card-content msg">
                                <span class="card-title right" style="text-shadow: 0 0 7px #ffffff">
                                    <font size="3">{{ msg.name }}</font></span>
                                    <br><br>
                                    <span class="flow-text">{{ msg.title }}</span>
                                    <span>{{ msg.content }}</span>
                                    <span class="flow-text grey-text lighten-4 right"><font
                                            size="2">{{ msg.time }}</font></span>
                                    <a onclick="manageMsg({{ msg.id }},'{{ msg.title }}','{{ msg.content }}')"
                                       class="manage btn-floating right"><i
                                            class="material-icons">edit</i></a>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if AdminPermotion %}
            <div class="col s12 m10 l9" id="manage-body">
                <div class="row">
                    <div class="col s12 l6">
                        <blockquote>
                            加群请求
                        </blockquote>
                        <ul class="collection with-header">
                            <li class="collection-item">
                                {% for req in msg_dict_req.items() %}
                                    <div>{{ req.name }}: {{ req.content }}
                                        <a href="" class="secondary-content"><i class="material-icons">check</i></a>
                                        <a href="" class="secondary-content"><i
                                                class="material-icons">close</i></a>
                                    </div>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                    <div class="col s12 l6">
                        <blockquote class="groupId" id="{{ group.id }}">
                            群设置
                        </blockquote>
                        <div class="row">
                            <div class="col s12 l6">
                                <blockquote>
                                    管理成员
                                </blockquote>
                                <ul class="collection with-header">
                                    <li class="collection-item">
                                        {% for member_ref in group.ref_users %}
                                            {% if member_ref.user.user_cls == db.Role.leader %}
                                                <div>
                                                    <i class="material-icons">account_circle</i>{{ member_ref.user.name }}
                                                </div>
                                            {% elif member_ref.user.user_cls == db.Role.admin %}
                                                <div><i class="material-icons">book</i>{{ member_ref.user.name }}
                                                    <a href="" class="secondary-content">
                                                        <i class="material-icons">not_interested</i>删除成员</a>
                                                    <a href="" class="secondary-content">
                                                        <i class="material-icons">assignment_turned_in</i>撤销管理员</a>
                                                </div>
                                            {% elif member_ref.user.user_cls == db.Role.user %}
                                                <div><i class="material-icons">person</i>{{ member_ref.user.name }}
                                                    <a href="" class="secondary-content">
                                                        <i class="material-icons">not_interested</i>删除成员</a>
                                                    <a href="" class="secondary-content">
                                                        <i class="material-icons">assignment_turned_in</i>设置为管理员</a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </li>
                                </ul>
                            </div>
                            <div class="col s12 l6">
                                <blockquote>
                                    群设置
                                </blockquote>
                                <form id="changeGroupForm">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input value="{{ group.name }}" id="groupName" name="groupName" type="text">
                                            <label for="groupName">群名称</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <select id="groupClass" name="groupClass">
                                                <option value="" disabled>选择群类型</option>
                                                <option value="academic">学术类</option>
                                                <option value="sport">体育类</option>
                                                <option value="art">艺术类</option>
                                                <option value="practice">实践类</option>
                                                <option value="lecture">讲座</option>
                                                <option value="daily">生活类</option>
                                                <option value="other">其他</option>
                                            </select>
                                            <label for="groupClass">群类型</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                        <textarea id="groupInfo" class="materialize-textarea"
                                                  name="groupInfo"></textarea>
                                            <label for="groupInfo">简介</label>
                                        </div>
                                    </div>
                                    <button class="btn waves-effect waves-light right" type="submit" name="action">提交修改
                                        <i class="material-icons right">send</i>
                                    </button>
                                    <br><br>
                                </form>
                                <blockquote style="border: red;">
                                    关键操作
                                </blockquote>
                                <a class="waves-effect waves-light btn red modal-trigger" href="">删除群</a>
                                <div id="modal1" class="modal">
                                    <div class="modal-content">
                                        <h5>Warning</h5>
                                        <p>正在删除群，所有成员将会被解散，确认？</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="" class="modal-action modal-close waves-effect red btn-flat">确认</a>
                                        <a href="#!" class="modal-action modal-close waves-effect green btn-flat">取消</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row" id="sending_row">
        <br>
        <form class="col s10 l11">
            <div class="row">
                <div class="input-field col s12">
                    <input id="announce" type="text" class="validate">
                    <label for="announce">输入内容</label>
                </div>
            </div>
        </form>
        <div class="col s2 l1">
            <a class="btn-floating btn-large waves-effect waves-light orange" onclick="sendMsg()"><i
                    class="material-icons">send</i></a>
        </div>
    </div>
{% endblock %}
{% block script_content %}
    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto);

        #sending_row {
            position: fixed;
            right: 0;
            left: 300px;
            bottom: 0;
            background: white;
            margin-bottom: 0;
        }

        .msg {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.9;
        }

        .msg blockquote {
            color: #0a0a0a;
            background-color: #ffebee;
            border-left: 4px solid #ac2925;
            padding: 1em 1.5em 1em 1.5em;
            position: relative;
            font-family: 'Roboto', sans-serif;
            line-height: 150%;
            text-indent: 35px;
            opacity: 0.8;
        }

        .msg blockquote:before {
            color: #8b1014;
            content: "\201C";
            font-size: 5em;
            position: absolute;
            left: -15px;
            top: 40px;
            line-height: 0.1em;
        }

        .msg blockquote:after {
            color: #8b1014;
            content: "\201D";
            font-size: 5em;
            position: absolute;
            right: 15px;
            bottom: 0em;
            line-height: 0.1em;
        }

        .card .btn-floating.btn-large.halfway-fab {
            right: 0px;
            left: 24px;
            bottom: -67px;
        }

        .btn-floating.halfway-fab.left {
            top: 24px;
        }

        @media screen and (max-width: 992px) {
            #sending_row {
                left: 0 !important;
            }
        }

        #global-nav {
            height: 104px;
        }
    </style>
    <script type="text/javascript">
        $('footer').css('display', 'none');

        $(document).ready(function () {

            $('#groupName').val('{{ group.name }}');
            $('#groupInfo').val('{{ group.info }}').trigger('autoresize');
            {#$('#groupClass>option:{{ group.class }}').attr('class', '');#}
            $('.modal').modal();
            $('select').material_select();
            Materialize.updateTextFields();
            $('#manage-body').click(function () {
                $("#sending_row").hide();
            });
            $('#chat-body').click(function () {
                $("#sending_row").show();
            });
            $('#public-body').click(function () {
                $("#sending_row").show();
            });
            if ("{{ db.UserGroup.query.filter(db.UserGroup.user_id == user.id).first().user_cls.name }}" === "normal") {
                hideItem('.manage');
            }
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        if ($.cookie('toast_ctrl_index') !== '{{ message }}') {
                            Materialize.toast('{{ message }}', 3000);
                            $.cookie('toast_ctrl_index', '{{ message }}');
                        }
                    {% endfor %}
                {% endif %}
            {% endwith %}
        });

        function hideItem(object_id) {
            $(object_id).css('display', 'none');
        }

        function manageMsg(msg_id, msg_title, msg_content) {
            $("#managemsgID").val(msg_id);
            $("#managemsgTitle").val(msg_title);
            $("#managemsgContent").val(msg_content);
            Materialize.updateTextFields();
            $('#manage_msg').modal('open');
        }

        function sendMsg() {
            var msg = $('#announce').val();
        }


    </script>
{% endblock %}
