<!--
    sign_on: list(sign)

    course_ready: list(course)

    activity_ready: list(activity)

    sign_completed: dict({ leader_id:sign })

    message
-->

{% extends "layouts/defaultLayout.html" %}
{% block navbar_content %}
{% endblock %}
{% block navbar_tabs %}
    <li class="tab"><a href="" class="active" style="display: none"><i class="material-icons left">home</i>主页</a></li>
{% endblock %}
{% block content %}
    <br>
    <div class="container">
        <blockquote>
            <h5>签到中心</h5>
        </blockquote>
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">
                    <i class="large material-icons">assignment_late</i>
                    <span class="">正在进行</span>
                </div>
                <div class="collapsible-body">
                    {% if not sign_on %}
                        <span class="">当前没有待签到课程</span>
                    {% endif %}
                    {% for sign in sign_on %}
                        <div class="card-panel white z-depth-1">
                            <div class="row valign-wrapper" style="margin-bottom: 0px">
                                <div class="col s2"><i class="material-icons">event</i></div>
                                <div class="col s6"><span id="signName" class="">{{ sign.name }}</span></div>
                                <div class="col s4"><a href="#modal_{{ sign.id }}"
                                                       class="btn round waves-effect waves-light modal-trigger orange">
                                    签到</a></div>
                            </div>
                        </div>
                        <div id="modal_{{ sign.id }}" class="modal">
                            <div class="modal-content">
                                <h5>请输入签到码</h5>
                                <form id="attendanceForm">
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">chevron_right</i>
                                        <input type="text" id="sign_code" name="sign_code">
                                        <label for="sign_code">签到码</label>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="button col">
                                            <button class="btn modal-action modal-close waves-effect waves-orange orange"
                                                    type="submit">确认
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons medium">assignment</i>
                    <span class="">我管理的</span>
                </div>
                <div class="collapsible-body">
                    {% if not activity_ready and not course_ready %}
                        <span class="">当前没有管理签到课程</span>
                    {% else %}
                        {% for group, act_list in activity_ready %}
                            {% for activity in act_list %}
                                <div class="card-panel white z-depth-1">
                                    <div class="row valign-wrapper" style="margin-bottom: 0px">
                                        <div class="col s1 l1"><i class="material-icons">event</i></div>
                                        <div class="col s3 l5"><span
                                                class="">组{{ group.name }}的活动<br>{{ activity.name }}</span>
                                        </div>
                                        <div class="col s4 l3"><a href="#modal_act_{{ activity.id }}"
                                                               class="btn round waves-effect waves-light modal-trigger orange">
                                            签到码</a></div>
                                        <div class="col s4 l3"><a href="{{url_for('attendance.register', cls='c', instance_id=activity.id, qrcode=1)}}"
                                                               class="btn round waves-effect waves-light orange">
                                            二维码</a></div>
                                    </div>
                                </div>
                                <div id="modal_act_{{ activity.id }}" class="modal">
                                    <div class="modal-content">
                                        <h5>请设置签到码</h5>
                                        <form id="codeSubmitForm">
                                            <div class="input-field col s6">
                                                <i class="material-icons prefix">chevron_right</i>
                                                <input type="text" name="sign_code" id="sign_code">
                                                <label for="sign_code"></label>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="button col">
                                                    <a class="btn waves-effect waves-orange orange"
                                                       onclick="random_code('modal_act_{{ activity.id }}')">随机
                                                    </a>
                                                    <button class="btn modal-action modal-close waves-effect waves-orange orange"
                                                            type="submit">开始签到
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for course in course_ready %}
                            <div class="card-panel white z-depth-1">
                                <div class="row valign-wrapper" style="margin-bottom: 0px">
                                    <div class="col s1 l1"><i class="material-icons">event</i></div>
                                    <div class="col s3 l5"><span class="">{{ course.name }}</span></div>
                                    <div class="col s4 l3"><a href="#modal_cou_{{ course.id }}"
                                                              class="btn round waves-effect waves-light modal-trigger orange">
                                        签到码</a></div>
                                    <div class="col s4 l3"><a href="{{url_for('attendance.register', cls='c', instance_id=course.id, qrcode=1)}}"
                                                              class="btn round waves-effect waves-light orange">
                                        二维码</a></div>
                                </div>
                            </div>
                            <div id="modal_cou_{{ course.id }}" class="modal">
                                <div class="modal-content">
                                    <h5>设置签到码</h5>
                                    <form id="codeSubmitForm">

                                        <div class="input-field col s6">
                                            <i class="material-icons prefix">chevron_right</i>
                                            <input type="text" name="sign_code" id="sign_code">
                                            <label for="sign_code"></label>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="button col">
                                                <a class="btn waves-effect waves-orange orange"
                                                   onclick="random_code('modal_cou_{{ course.id }}')">随机
                                                </a>
                                                <button class="btn modal-action modal-close waves-effect waves-orange orange"
                                                        type="submit">开始签到
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="large material-icons">assignment_turned_in</i>
                    <span class="">已完成</span>
                </div>
                <div class="collapsible-body">
                    {% for leader_id, sign in sign_completed %}
                        <div class="card-panel white z-depth-1">
                            <div class="row valign-wrapper" style="margin-bottom: 0px">
                                <div class="col s6"><i class="material-icons left">event</i><span
                                        class="">{{ sign.name.split('(')[0] }}</span></div>
                                {% if leader_id == user.id %}
                                    <div class="col s3 center"><a href="#modal_{{ sign.id }}"
                                                                  class="btn btn-floating waves-effect waves-light modal-trigger brown lighten-2">
                                        <i class="material-icons">info_outline</i></a>
                                        <span class="center" style="white-space: nowrap">详情</span>
                                    </div>
                                    <div class="col s3 center"><a
                                            href="{{ url_for('attendance.resign', sign_name=sign.name) }}"
                                            class="btn btn-floating waves-effect waves-light modal-trigger blue lighten-2">
                                        <i class="material-icons">autorenew</i></a><br>
                                        <span class="center" style="white-space: nowrap">补签</span>
                                    </div>
                                {% else %}
                                    <div class="col s3 offset-3 center"><a href="#modal_{{ sign.id }}"
                                                                           class="btn btn-floating waves-effect waves-light modal-trigger orange">
                                        <span class="center" style="white-space: nowrap">详情</span></a>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row left">
                                <font size="2" color="#a9a9a9">{{ sign.name }}</font>
                                <br>
                            </div>
                        </div>
                        <div id="modal_{{ sign.id }}" class="modal">
                            <div class="modal-content">
                                <blockquote><strong>名称</strong></blockquote>
                                <p>{{ sign.name }}</p>
                                <blockquote><strong>类型</strong></blockquote>
                                <p>{{ sign.cls.value }}</p>
                                <blockquote><strong>开始时间</strong></blockquote>
                                <p>{{ sign.start }}</p>
                                <blockquote><strong>结束时间</strong></blockquote>
                                <p>{{ sign.end }}</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-orange btn-flat">关闭</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </li>


        </ul>
    </div>
{% endblock %}
{% block script_content %}
    <style>
        .round {
            border-radius: 32px;
        }

        .input-field .prefix {
            bottom: 45%
        }

        span.center {
            line-height: 2;
        }

        strong {
            font-weight: 900;
        }

        #global-nav {
            height: 60px !important;
        }

        .page-content {
            margin-top: 60px !important;
        }
    </style>
    <script type="text/javascript" src="../../static/js/jquery.cookie.min.js"></script>
    <script type="text/javascript">
        var chars = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });

        $(document).ready(function () {
            $('.modal').modal();
        });

        function random_code(input_id) {
            var res = "";
            for (var i = 0; i < 6; i++) {
                var id = Math.ceil(Math.random() * 9);
                res += chars[id];
            }
            $('#' + input_id).find("#sign_code").val(res);
        }
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    if ($.cookie('toast_ctrl_att_cen') !== '{{ message }}') {
                        Materialize.toast('{{ message }}', 3000);
                        $.cookie('toast_ctrl_att_cen', '{{ message }}');
                    }
                {% endfor %}
            {% endif %}
        {% endwith %}
    </script>
{% endblock %}
