<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"
        media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="../static/css/mobiscroll.custom-2.17.1.min.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8">
  <link rel='stylesheet prefetch' href='css/normalize.min.css'>
  <link rel='stylesheet prefetch' href='css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/style.css">
  <title>{{title}}</title>
</head>

<body>
<header>
  <>
  <nav id="global-nav" class="nav">
    <div class="container">
      <div class="pull-left"><h1 class="site-title">{{ logo }}</h1></div>
      <div class="pull-right">
        <ul class="nav-list">
          {% for link in links %}
          <li><a href={{link.href}}>{{link.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
{% block content %}
{% endblock %}
<footer>
  <div class="container">
    {% block footerContent %}
    {% endblock %}
  </div>
</footer>
<script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../static/js/materialize.min.js"></script>
<script type="text/javascript" src="../static/js/mobiscroll.custom-2.17.1.min.js"></script>
<script  type="text/javascript" src="../static/js/common.min.js"></script>
<script type="text/javascript" src="../static/js/form.min.js"></script>
</body>
</html>
